<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="sqlConn" providerName="System.Data.sqlclient" connectionString="Data Source=TD-SQL-01;Initial Catalog=Staples;UID=tdsql01rw; PWD=Victorgp@1 " />
  </connectionStrings>

  <appSettings>
    
    <!--<add key="readFileFromPath" value="\\td-sql-01\\d$\\STAPLES\\Orders_In"/>-->
    <add key="readFileFromPath" value="C:\\TestingStaplesOrderFile"/>
    
    <add key="readFileType" value="*.xml"/>   

    <add key="sourcePathFromAppSettings" value="\\td-sql-01\\d$\\STAPLES\\Orders_In"/>
    
    <add key="targetPathFromAppSettings" value="\\td-sql-01\\d$\\STAPLES\\Orders_In\\Processed"/>

    <add key="insertError" value="INSERT INTO [dbo].[tblOrderErrors] (OrderNumber,    ErrorMessage,       ErrorOccuredDate,     ModuleName )
                               VALUES ( @OrderNumber,    @ErrorMessage,     @ErrorOccuredDate,  @ModuleName  ) "/>

    <add key="errorLogPath" value="\\td-sql-01\\d$\\STAPLES\\Orders_In"/>

    <add key="messageLogPath" value="\\td-sql-01\\d$\\STAPLES\\Orders_In"/>

    <add key="insertIntotblOrderCatalogueData" value="INSERT INTO [dbo].[tbl_Ord_Catalogue] (OrderNumber, OrderDate, OrderFileName, Processed_Flag, Validation_Flag,CreatedDate,AcrPush_Flag) 
                                VALUES (
                                                              @OrderNumber, @OrderDate, @OrderFileName, @Processed_Flag, @Validation_Flag, @CreatedDate, @AcrPush_Flag)"/>

    <add key="InsertIntoOrderPayloadDetails" value="INSERT INTO [dbo].[tbl_Ord_Payload_Details] ( Catalogue_SeqID, OrderNumber, OrderDate, OrderPayloadID, OrderTimeStamp, CreatedDate) 
                                VALUES (
                                                           @Catalogue_SeqID,   @OrderNumber, @OrderDate, @OrderPayloadID, @OrderTimeStamp, @CreatedDate)"/>


    <add key="insertIntotblOrderHeaderData" value="INSERT INTO [dbo].[tbl_Ord_Header_Data] ( Catalogue_SeqID,  OrderNumber, PayloadID, Version, PayloadTimestamp, From_NetworkID, From_SystemID, To_NetworkID, Sender_AribaNetworkUserID,   UserAgent, Header_Comments, CreatedDate) 
                                VALUES (
                                                               @Catalogue_SeqID, @OrderNumber, @PayloadID, @Version, @PayloadTimestamp, @From_NetworkID, @From_SystemID, @To_NetworkID, @Sender_AribaNetworkUserID, @UserAgent,@Header_Comments, @CreatedDate)"/>

    <add key="insertIntotblOrderRequestData" value="INSERT INTO [dbo].[tbl_Ord_Req_Data] ( Catalogue_SeqID,  OrderNumber, OrderDate, OrderDateTS,  RequestedDeliveryDate, Type, OrderVersion, OrderType,  OrderTotal, PayInNumberOfDays, DiscountPercent,  CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber, @OrderDate, @OrderDateTS, @RequestedDeliveryDate, @Type, @OrderVersion, @OrderType,  @OrderTotal, @PayInNumberOfDays, @DiscountPercent,  @CreatedDate)"/>

    <add key="insertIntotblOrderRequestShipToData" value="INSERT INTO [dbo].[tbl_Ord_Req_ShipTo_Data] ( Catalogue_SeqID,  OrderNumber,  CountryCode, AddressIDDomain, AddressID, Name,  PostalAddressName,  Street1, Street2, Street3, City, State, PostalCode, PhoneCountryCode, PhoneAreaorCityCode, PhoneNumber,FaxCountryCode, FaxAreaorCityCode, FaxNumber, IdreferenceDomain,
         IdReferenceIdentifier, CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber, @CountryCode, @AddressIDDomain, @AddressID, @Name,  @PostalAddressName,  @Street1, @Street2, @Street3, @City, @State,
                                            @PostalCode, @PhoneCountryCode, @PhoneAreaorCityCode, @PhoneNumber, @FaxCountryCode, @FaxAreaorCityCode, @FaxNumber, @IdreferenceDomain,
                                            @IdReferenceIdentifier, @CreatedDate)"/>

    <add key="insertIntotblOrderRequestBillToData" value="INSERT INTO [dbo].[tbl_Ord_Req_BillTo_Data] ( Catalogue_SeqID,  OrderNumber,  CountryCode, Name,  PostalAddressName,  Street1, Street2, Street3, City, State, PostalCode, PhoneCountryCode, PhoneAreaorCityCode, PhoneNumber,FaxCountryCode, FaxAreaorCityCode, FaxNumber, IdreferenceDomain,
         IdReferenceIdentifier, CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber, @CountryCode,  @Name,  @PostalAddressName,  @Street1, @Street2, @Street3, @City, @State,
                                            @PostalCode, @PhoneCountryCode, @PhoneAreaorCityCode, @PhoneNumber, @FaxCountryCode, @FaxAreaorCityCode, @FaxNumber, @IdreferenceDomain,
                                            @IdReferenceIdentifier, @CreatedDate)"/>

    <add key="insertIntotblOrderRequestSupplierContactData" value="INSERT INTO [dbo].[tbl_Ord_Req_Supplier_Corporate_Data] ( Catalogue_SeqID,  OrderNumber,  Role, AddressIDDomain, AddressID, Name,    Street1, City, State, PostalCode, CountryCode, EmailName, Email, PhoneCountryCode, PhoneAreaorCityCode, PhoneNumber,FaxCountryCode, FaxAreaorCityCode, FaxNumber, IdreferenceDomain,
         IdReferenceIdentifier, CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber,  @Role, @AddressIDDomain, @AddressID, @Name,  @Street1, @City, @State,
                                            @PostalCode, @CountryCode, @EmailName, @Email, @PhoneCountryCode, @PhoneAreaorCityCode, @PhoneNumber, @FaxCountryCode, @FaxAreaorCityCode, @FaxNumber, @IdreferenceDomain, @IdReferenceIdentifier, @CreatedDate)"/>

    <add key="insertIntotblOrderRequestPurchaserContactData" value="INSERT INTO [dbo].[tbl_Ord_Req_PurchasingAgent_Data] ( Catalogue_SeqID,  OrderNumber,  Role, Name, Email, PhoneCountryCode, PhoneAreaorCityCode, PhoneNumber, ContactRole, ContactRole_Name , CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber,  @Role, @Name,  @Email, @PhoneCountryCode, @PhoneAreaorCityCode, @PhoneNumber, @ContactRole, @ContactRole_Name, @CreatedDate)"/>
    

    <add key="InsertIntoOrderRequestItemData" value="INSERT INTO [dbo].[tbl_Ord_Req_Item_Data] ( Catalogue_SeqID,  OrderNumber, RequestedDeliveryDate, SupplierPartID, BuyerPartID, LineNumber, Quantity, UnitPrice, ItemDescription,UnitOfMeasure , PriceBasisQuantity,ConversionFactor,ClassificationDomain,Classification,ManufacturerPartID,ManufacturerName,ScheduleLineReqDelivDate,ScheduleLineQuantity,ScheduleLineNumber,ScheduleLineUOM,Comments,EANID,CreatedDate) 
                                VALUES (
                                            @Catalogue_SeqID,  @OrderNumber, @RequestedDeliveryDate, @SupplierPartID, @BuyerPartID, @LineNumber, @Quantity, @UnitPrice, @ItemDescription,@UnitOfMeasure , @PriceBasisQuantity,@ConversionFactor,@ClassificationDomain,@Classification,@ManufacturerPartID,@ManufacturerName,@ScheduleLineReqDelivDate,@ScheduleLineQuantity,@ScheduleLineNumber,@ScheduleLineUOM,@Comments,@EANID,@CreatedDate)"/>

  </appSettings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>